<div class="row justify-content-center">
  <div class="col-4">
    <h1 class="text-center"><%= t('events.access') %></h1>
    <%= form_tag('', method: 'post') do |f| %>
      <label><%= t('events.pincode') %></label>
      <div class="input-group mb-2">
        <span class="input-group-text"><i class="bi bi-lock"></i></span>
        <%= text_field_tag :pincode, params[:pincode], class: 'form-control'%>
      </div>

      <div class="actions mb-3">
        <%= submit_tag t('forms.save'), class: 'btn btn-primary' %> <%= t('forms.or') %> <%= link_to t('forms.back'), events_path %>
      </div>
    <% end %>
  </div>
</div>