<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : t('app.name') %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-visit-control" content="reload">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="https://api-maps.yandex.ru/2.1/?apikey=<%= ENV['API_KEY_YANDEX'] %>&lang=ru_RU" type="text/javascript"></script>

  <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", media: 'all', "data-turbo-track": "reload", defer: true %>
</head>

<body>
<nav class="navbar navbar-expand-lg bg-light buffer-bottom">
  <div class="container-fluid">
    <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to t('users.profile'), current_user, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('sessions.log_out'), destroy_user_session_path, data: { turbo_method: :delete }, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t('sessions.log_in'), new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('registrations.registration'), new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <% flash.each do |type, msg| %>
        <div class="<%= flash_class(type) %>">
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div><!--/row-->
  <footer class="footer bg-light fixed-bottom">
    <p>&copy; <%= t('app.company') %> 2022</p>
  </footer>
</div> <!-- /container -->
</body>
</html>
